body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-footer {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.list-group-item {
    border-left: none;
    border-right: none;
}